@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,600&family=Poppins:wght@300&family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #85dd74;
    color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
}

.brand-name {
    margin: 0px;
    padding-top: 0px;
    position: relative;
    right: 170px;
}

.navbar-logo-img {
    height: 100px;
}

.navbar-links {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}


.navbar-links-button_styles {
    border: none;
    position: relative;
    left: 55px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    height: 50px;
    width: 100px;
    background-color: #79c76a;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    
}

.navbar-links-button_styles:hover {
    background-color: #70b662;
}




.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}


.navbar_color_ubication {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBox_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 14em;
    width: fit-content;
    height: fit-content;
    background-color: #e1f782;
    border-radius: 0.8em;
    overflow: hidden;
}

.search_icon {
    height: 1em;
    padding: 0 0.5em 0 0.8em;
    fill: #abb2bf;
}

.inputBox {
    background-color: transparent;
    color: #797979;
    outline: none;
    width: 100%;
    border: 0;
    padding: 0.5em 1.5em 0.5em 0;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

::placeholder {
    color: #abb2bf;
}

.browser {
    position: relative;
    left: 200px;
    margin: 20px;
    padding-top: 10px;
}


/*main*/

.avocado_style {
    position: relative;
    width: 600px;
}

.welcome {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.welcome-txt {
    text-align: center;
    margin: 100px;
}

.welcome-txt-title {
    color: #404040;
}

.welcome-txt-p {
    color: #797979;
}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.novedades-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /*agregado*/
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.novedades-btn:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.novedades-btn:active {
    transform: translateY(-1px);
}

.novedades-txt {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/* Page Contacto */

.main-title_style {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.main-subtitle_style {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.main-form_style {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-form-elements-input_style {
    display: flex;
    flex-direction: column;
}

.wave-group {
    position: relative;
    padding: 20px;
}

.wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.wave-group .input:focus {
    outline: none;
}

.wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 22px;
    display: flex;
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus~label .label-char,
.wave-group .input:valid~label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #85dd74;
}

.wave-group {
    position: relative;
    display: block;
    width: 200px;
}

.wave-group :before,
.wave-group :after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.wave-group :before {
    left: 50%;
}

.wave-group :after {
    right: 50%;
}

.wave-group .input:focus~:before,
.wave-group .input:focus~:after {
    width: 50%;
}

.wave-group textarea.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    height: 70px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
    resize: none;
}

.wave-group textarea.input:focus {
    outline: none;
}

.wave-group textarea.input:focus~label .label-char,
.wave-group textarea.input:valid~label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #85dd74;
}

.main-form-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form-button_style {
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #85dd74;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #85dd74;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #85dd74;
}

.main-form-button_style:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #85dd74;
}

.main-form-button_style:active {
    transform: scale(0.9);
}

/* Recetas random */

.button-random {
    font-size: 18px;
    color: rgb(51, 237, 31);
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.button-random:hover {
    color: rgb(38, 170, 24);
}

.button-random:hover:after {
    width: 100%;
    left: 0%;
}

.button-random:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.caja-random {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.50rem;
}

.container-random {
    display: flex;
    justify-content: center;
    align-items: center;
}

.receta-random {
    text-align: center;
}